{% extends 'base.html.twig' %}

{% block head %}
{% endblock %}

{% block title %}
	Nystron Solar | Admin - Index
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
<a href="{{ path('app.admin.upload.generation.view') }}">Upload Solar Generation Report</a>
{% endblock %}
