{% extends 'base.html.twig' %}

{% block head %}{% endblock %}

{% block title %}
	Nystron Solar | Admin - Index
{% endblock %}

{% block main %}
	<main class="p-3 text-light">
		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Nystron Solar ⚡</h1>
				<p class="lead .text-secondary-emphasis">We are the
					<span class="fw-bold">Nystron Solar</span>. A Solar Energy company based in Quaraí - Rio Grande do Sul - Brazil</p>
				<p>
					<a href="{{ path('app.info.contact' )}}" class="btn btn-primary my-2">Quero Entrar em Contato!</a>
					<a href="{{ path('app.security.login' )}}" class="btn btn-secondary my-2">Já Sou Cliente</a>
				</p>
			</div>
		</section>
	</main>
{% endblock %}
