{% extends 'base.html.twig' %}

{% block head %}
<link href="/assets/auth/login.css" rel="stylesheet">
{% endblock %}

{% block title %}Nystron Solar | Auth - Login{% endblock %}

{% block main %}
<main class="text-center form-signin w-100 m-auto">
    <img class="rounded mb-4" src="/assets/images/nystron-solar-logo.jpg" alt="" width="130" height="112">
    <h1 class="h3 mb-3 fw-normal">Sign in to Nystron Solar</h1>

    {% for message in app.flashes('danger') %}
    <div class="alert alert-danger mt-1 w-100" role="alert">
        {% apply markdown_to_html %}
            {{ message }}
        {% endapply %}
    </div>
    {% endfor %}

    {{ form_start(loginForm) }}
        {{ form_widget(loginForm) }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    {{ form_end(loginForm) }}
</main>
{% endblock %}